[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pathspec = "*"
django = "*"
pipenv-to-requirements = "*"
django-dotenv = "*"
django-seed = "*"
django-countries = "*"
requests = "*"
psycopg2 = "*"

[dev-packages]
awsebcli = "*"
pillow = "*"
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
